.SelectLabeled {
  flex: 1;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.1rem;
}

.label {
  flex: 0;
  display: inline-block;
  margin-right: 0.2rem;
  font-size: 0.5rem;
  color: #bbb;
}

.select {
  flex: 1;
  width: 50%;
  min-width: 50pt;
  font-size: 0.7rem;
  display: inline-block;
  padding: 0 2pt;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  background-color: #333;
  color: #fff;
}
