
.AudioHandle {
  --size: 5pt;
  min-width: var(--size);
  width: var(--size);
  min-height: var(--size);
  background-color: #000;
  border-radius: 50%;
  border: 1pt solid #bbb;
  cursor: pointer;
}
