.Output {
  margin: 3pt;
  padding: 8pt;
  border-radius: 10pt;
  border: 1pt solid #ff8cd9;
  cursor: pointer;
  color: #fff;
  width: 80pt;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: left;
}

.Controls {
  margin: 2pt 0;
}

.Dnd {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5pt;
  width: 40pt;
  height: 30pt;
  background-color: #333;
  border-radius: 25%;
  border: 1pt solid #9dcaff;
  cursor: pointer;
  color: #fff;
}

