.Sample {
  padding: 3pt 0;
  border-radius: 10pt;
  border: 1pt solid #9dcaff;
  cursor: pointer;
  color: #fff;
  width: 80pt;
  display: flex;
  align-items: stretch;
  justify-content: left;
  flex-direction: column;
}

.Controls {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  margin: 1pt 0;
}

.Input {
  flex: 1;
  min-width: calc(90% - 16pt);
  margin: 0 8pt;
}

.Dnd {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5pt;
  width: 40pt;
  height: 30pt;
  background-color: #333;
  border-radius: 25%;
  border: 1pt solid #9dcaff;
  cursor: pointer;
  color: #fff;
}
